.containerForm {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.322);
	z-index: 1;
}

.containerForm .form {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-radius: 10px;
	background-color: var(--bg-color);
}

.form .formTitle {
	margin-top: 20px;
	text-align: center;
	font-weight: 300;
	color: #fff;
}

.form hr {
	width: 100%;
	height: 2px;
	border: none;
	margin: 20px;
	background: linear-gradient(to right, transparent, var(--color), transparent);
}

.form .areaForm {
	margin-bottom: 20px;
}

.areaForm label {
	margin-bottom: 10px;
	color: var(--color);
}

.areaForm input {
	width: 100%;
	padding: 10px;
	font-size: 1.1rem;
	border: 1px solid var(--color);
	outline: none;
	border-radius: 5px;
	background-color: var(--bg-color2);
	color: #fff;
}

.areaForm input:hover {
	background-color: #2f15352a;
}

.areaForm input:focus {
	background-color: #2f15352a;
}

.form .categoryImage {
	width: 100px;
	height: 100px;
	align-self: center;
	margin-top: 20px;
	border-radius: 50%;
	outline: 4px solid var(--color);
	overflow: hidden;
}

.form .containerButtons {
	margin-top: 40px;
}

.containerButtons button {
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;
	transition: 100ms ease all;
}

.containerButtons .createButton {
	margin-right: 20px;
	background-color: transparent;
	border: 2px solid var(--color);
}

.containerButtons .createButton:hover {
	background-color: var(--color);
}

.containerButtons .cancelButton {
	background-color: var(--color3);
}

.containerButtons .cancelButton:hover {
	opacity: 80%;
}